body {
  background: #1e1e20;
}

.wrapper {
  padding: 50px;
  height: 100%;
}

.container {
  position: relative;
  height: 200px;
  background: #444;
}

.block {
  background: #fff;
  height: 200px;
  width: 200px;
  position: absolute;
}

/* ======================================================= */

.block {
  animation: move-block 3s .3s infinite alternate,
  color-block 3s .3s infinite alternate;

  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* animation-name: move-block; */
  /* animation-duration: 0 s; */
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate; */
  /* animation-delay: ; */
  /* animation-fill-mode: forwards; */
  animation-timing-function: linear;
}

@keyframes move-block {
  0% {
    left: 0px;
    /* background: #fff; */
  }

  50% {
    border-radius: 50%;
  }

  100% {
    left: calc(100% - 200px);
    /* background: #f76d6d; */
  }
}

@keyframes color-block {
  0% {
    background: #fff;
  }

  100% {
    background: #f76d6d;
  }
}